In [1]:
import pandas as pd

In [2]:
dataFrame = pd.read_csv("eksikveriler.csv")

In [3]:
dataFrame

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

In [37]:
dataFrame.fillna(value=(dataFrame["yas"].sum()/21))

   ulke  boy  kilo        yas cinsiyet
0    tr  130    30  10.000000        e
1    tr  125    36  11.000000        e
2    tr  135    34  10.000000        k
3    tr  133    30   9.000000        k
4    tr  129    38  12.000000        e
5    tr  180    90  30.000000        e
6    tr  190    80  25.000000        e
7    tr  175    90  35.000000        e
8    tr  177    60  22.000000        k
9    us  185   105  33.000000        e
10   us  165    55  27.000000        k
11   us  155    50  44.000000        k
12   us  160    58  27.095238        k
13   us  162    59  41.000000        k
14   us  167    62  55.000000        k
15   fr  174    70  47.000000        e
16   fr  193    90  27.095238        e
17   fr  187    80  27.000000        e
18   fr  183    88  28.000000        e
19   fr  159    40  29.000000        k
20   fr  164    66  32.000000        k
21   fr  166    56  42.000000        k